<h1>My App</h1>

<app-title nome="Produto 1"></app-title>
<app-title nome="Produto 2"></app-title>

<app-check-sample *ngIf="isAliveCheckSample"></app-check-sample>
<button (click)="disposeCheckSample()">Dstruir</button>

<app-card *ngIf="isAliveCard; else anotherBlock"></app-card>
<ng-template #anotherBlock>
	<p>Bloco Secréto</p>
</ng-template>
<router-outlet></router-outlet>

<app-comp-atributos>
	<h2>Ola</h2>
	<p>Eu vim de Fora!</p>
</app-comp-atributos>

<hr>

<app-input></app-input>
<app-list-view></app-list-view>
